/basic_sort.exe
/change_value.cpp
/change_value.exe
/check_program.exe
/get_value_llist.cpp
/get_value_llist.exe
/heap_sort.exe
/heap_tree.exe
/mergeSort.exe
/quickSort.exe
/remove_larger.cpp
/remove_larger.exe
/shell_sort.exe
/super_prime.cpp
/super_prime.exe